@import url("base.css");

.pardus-software-frame > border{
    border-radius: 5px;
}

.pardus-software-notebook.view,
.pardus-software-notebook.frame,
.pardus-software-notebook > *,
.pardus-software-notebook > header *{
    border-radius: 5px 5px 0 0;
}

.pardus-software-listbox{
    border-radius:5px;
}

.pardus-software-listbox row:hover, row:selected{
    border-radius:5px;
}

.pardus-software-flowbox flowboxchild{
    border-radius:5px;
}

/* iconview */

iconview.view {
    border-radius: 5px;
    background-color: transparent;
}

iconview.view:selected {
    border-radius: 5px;
    background-color: @theme_selected_bg_color;
}

iconview.view:selected:focus {
    border-radius: 5px;
    background-color: @theme_selected_bg_color;
}

iconview.view:backdrop {
    border-radius: 5px;
    background-color: transparent;
}

iconview.view:selected:backdrop {
    border-radius: 5px;
    background-color: @theme_unfocused_selected_bg_color;
}

iconview.view:selected:backdrop:hover {
    border-radius: 5px;
    background-color: @theme_unfocused_selected_bg_color;
}

.view > iconview {
    border-radius: 5px;
    background-color: transparent;
}

.view > iconview:hover {
    background-color: alpha(@unfocused_borders, 0.5);
}

.view > iconview:hover:selected {
    border-radius: 5px;
    background-color: @theme_selected_bg_color;
}

.view > iconview:backdrop {
    border-radius: 5px;
    background-color: transparent;
    color: @theme_unfocused_fg_color;
}

.view > iconview:backdrop:hover {
    background-color: alpha(@unfocused_borders, 0.3);
}
