.pardus-software-listbox{
    background-color:transparent;
}

/*
.pardus-software-flowbox flowboxchild{
    background-color:transparent;
}
*/


/*
.pardus-software-listbox{
    background-color:alpha(@unfocused_borders, 0.3);
}

list row:hover{
    background-color:alpha(@unfocused_borders, 0.5);;

}

list row {
    margin: 0px;
}*/


.pardus-software-listbox{
    background-color:alpha(@unfocused_borders, 0.3);
}

.pardus-software-listbox row:hover{
    background-color:alpha(@unfocused_borders, 0.5);;

}

.pardus-software-listbox row {
    margin: 0px;
}

/*
.pardus-software-left-cats-flowbox{
    background-color:alpha(@unfocused_borders, 0.3);
    border-radius:8px;
}
*/

.pardus-software-left-cats-box{
    background-color:alpha(@unfocused_borders, 0.3);
    border-radius:8px;
}

.pardus-software-left-cats-listbox{
    background-color:transparent;
    border-radius:8px;
}

.pardus-software-left-cats-listbox row{
    margin-bottom: 8px;
}

.pardus-software-left-cats-listbox row:hover, row:selected{
    border-radius:8px;
}

.pardus-software-left-updates-box {
    background-color:alpha(@unfocused_borders, 0.5);
    border-radius: 8px;
}
