.pardus-software-listbox{
    background-color:transparent;
}

/*
.pardus-software-flowbox flowboxchild{
    background-color:transparent;
}
*/


/*
.pardus-software-listbox{
    background-color:alpha(@unfocused_borders, 0.3);
}

list row:hover{
    background-color:alpha(@unfocused_borders, 0.5);;

}

list row {
    margin: 0px;
}*/


.pardus-software-listbox{
    background-color:alpha(@unfocused_borders, 0.3);
}

.pardus-software-listbox row:hover{
    background-color:alpha(@unfocused_borders, 0.5);;

}

.pardus-software-listbox row {
    margin: 0px;
}

/*
.pardus-software-left-cats-flowbox{
    background-color:alpha(@unfocused_borders, 0.3);
    border-radius:8px;
}
*/

.pardus-software-left-cats-box{
    background-color:alpha(@unfocused_borders, 0.3);
    border-radius:8px;
}

.pardus-software-left-cats-listbox{
    background-color:transparent;
    border-radius:8px;
}

.pardus-software-left-cats-listbox row{
    margin-bottom: 8px;
}

.pardus-software-left-cats-listbox row:hover, row:selected{
    border-radius:8px;
}

.pardus-software-left-installed-count-box {
    background-color: #f27a1a;
    border-radius: 30px;
    color: @view_bg_color;
}

.pardus-software-mostapp-empty-label{
    color:transparent;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-bottom: -5px;
}

.pardus-software-mostapp-number-label{
    margin-left: -5px;
    margin-top: -5px;
    background-color: @theme_bg_color;
    border-radius: 8px;
    padding: 3px 5px 3px 5px;
}

.pardus-software-mostapp-action-button{
    padding: 1px 5px 1px 5px;
    margin: 0px;
    /*border-width: 0px;*/
    min-height: 0px;
    min-width: 0px;
}

.pardus-software-apps-action-button{
    padding: 0px 3px 0px 3px;
    margin: 0px;
    margin-top: -5px;

}

.pardus-software-listbox-mostdown{
    background-color:transparent;
}

.pardus-software-listbox-mostdown row {
    margin: 0px;
    padding: 0px;
}

.pardus-software-listbox-mostdown row:hover{
    background-color: alpha(@unfocused_borders, 0.5);
}

.pardus-software-mostdown-bottom-seperator{
    margin: 0px;
}

.pardus-software-mostapp-icon{
    background-color: alpha(@unfocused_borders, 0.3);
    border-radius: 8px;
    padding: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.pardus-software-editorapp-icon{
    border-radius: 8px;
    background-color: alpha(@unfocused_borders, 0.5);
    border-radius: 8px;
    padding: 8px;
}
