#homecats{
    border: none;
    border-radius: 0 0 7px 7px;
    border-bottom: solid 3px;
    padding-bottom: 3px;
}

#homecats:hover{

}

#test{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 7px 7px 7px 7px;
    border-bottom: solid 7px;
}
