polkit.addRule(function(action, subject) {
    if (subject.isInGroup("pardus-software")) {
        if (action.id == "tr.org.pardus.pkexec.pardus-software-action" ||
            action.id == "tr.org.pardus.pkexec.pardus-software-sysaction") {

            return polkit.Result.YES;
        }
    }
});
